body {
    background-color: rgba(247, 206, 62, .5);
    font-family: 'Lato', sans-serif;
}

h1 {
    padding: 1rem;
    text-align: center;
    margin-bottom: 0;
    background-color: aliceblue;
    margin: 1rem auto 0;
    width: 50%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.media {
    /* margin-bottom: 1rem; */
    /* padding: 10px; */
    /* border: 1px solid #ddd;
    border-radius: 4px; */
    /* background-color: #fff; */
}

.list-group {
    /* width: 100%; */
}

.list-group-item {
    margin: 1rem;   
    cursor: pointer;
    border-radius: .25rem;
}

.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 5px #000;
}

.card h2 {
    padding: 1rem;
}

#recipe-list {
    /* margin-left: 1rem; */
}

.recipe-item {
    padding: 1rem;
    /* margin-left: 1rem; */
}

.recipe-item img {
    float: left;
    padding: .5rem;
    max-width: 96px;
    max-height: 96px;
    margin-bottom: .5rem;
}

.detail-image img {
    float: left;
    max-width: 75%;
    max-height: 432px;
    padding: 1rem;
    margin-right: 1.5rem;
}

.media:hover {
    background-color: #eee;
    cursor: pointer
}

.recipe-item h4:hover {
    text-decoration: underline;
} 

#recipe-detail > div.detail-image > ul {
    padding-left: 1rem;
    clear: left;
}

#recipe-detail > div.detail-image > ul > li {
    list-style-type: none;
    font-weight: bold;
}

#recipe-detail > div.detail-image > p {
    padding-left: 1rem;
}

.loading {
    font-size: 2rem;
    font-weight: 900;
}

@media (max-width: 767px) { 
    #recipe-detail {
        position: fixed;
        z-index: 1;
        margin-top: 0;
    }

    .card h2 {
        padding: .25rem;
    }

    #recipe-list {
        top: 500px;
    }

    .detail-image img {
        max-height: 162px;
    }


 }